header.main-header
    .main-header__wrapper
        a(href="#").main-header__colgate-logo
            img(src="./images/main-header__colgate-logo.png", alt="")
        a(href="#").main-header__crossroads-logo
            img(src="./images/main-header__crossroads-logo.png", alt="")
        nav.nav-menu
            ul.nav-menu__container
                li.nav-menu__item
                    a(href="documents/user-agreement.pdf" target="_blank").nav-menu__link пользовательское соглашение
                li.nav-menu__item
                    span.nav-menu__border-line |
                li.nav-menu__item
                    a(href="documents/rules.pdf" target="_blank").nav-menu__link правила акции
                li.nav-menu__item
                    span.nav-menu__border-line |
                li.nav-menu__item
                    .nav-menu__link.modal-faq-open-button вопросы-ответы
                li.nav-menu__item
                    span.nav-menu__border-line |
                li.nav-menu__item
                    .nav-menu__link.modal-feedback-open-button обратная связь
            .nav-menu__social-container
                a(href="#" target="_blank").nav-menu__social-link
                    img(src="./images/main-header__fb-icon.svg", alt="")
                a(href="#" target="_blank").nav-menu__social-link
                    img(src="./images/main-header__vk-icon.svg", alt="")
                a(href="#" target="_blank").nav-menu__social-link
                    img(src="./images/main-header__ok-icon.svg", alt="")
        .main-header__sandwich
            img(src="./images/main-header__sandwich-icon.svg", alt="")