.main-header {
  flex-grow: 0;
  width: 100%;
  height: 4.25rem;
  background-color: $white;
}

.main-header__wrapper {
  align-items: center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 83rem;
  height: 100%;
}

.main-header__colgate-logo,
.main-header__crossroads-logo {
  display: block;
  width: 11.4375rem;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.main-header__colgate-logo {
  transform: translateY(2.35rem);
}

.main-header__crossroads-logo {
  margin-left: 2.125rem;
  width: 13.875rem;
}

.main-header__sandwich {
  display: none;
  margin-left: auto;
  width: 2.8125rem;
  cursor: pointer;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@import "./main-header-tablet.scss";

@import "./main-header-mobile.scss";
