@media screen and ($tablet1), ($tablet2), ($tablet3) {

  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    height: 4.1875rem;
  }

  .main-header__wrapper {
    width: 45.3125rem;
  }

  .main-header__colgate-logo {
    z-index: 501;
    width: 9.875rem;
    transform: translateY(1.75rem);
  }

  .main-header__crossroads-logo {
    margin-left: 1.75rem;
    width: 11.875rem;
  }

  .main-header__sandwich {
    display: block;
  }
}
