.nav-menu {
  margin-left: auto;
}

.nav-menu {
  display: flex;
}

.nav-menu__container {
  display: flex;
}

.nav-menu__link,
.nav-menu__border-line {
  font-family: $main-font-regular;
  font-size: 1.5rem;
  line-height: 1;
  color: $black;
}

.nav-menu__border-line {
  display: block;
  margin-right: .375rem;
  margin-left: .3125rem;
}

.nav-menu__social-container {
  display: flex;
  margin-left: 3.0625rem;
}

.nav-menu__social-link {
  display: block;
  margin-left: .625rem;
  width: 1.25rem;
  height: auto;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &:first-child {
    margin-left: 0;
  }
}

@import "./nav-menu-tablet.scss";

@import "./nav-menu-mobile.scss";
