extends ../../templates/index

block variables
    - var title = ''
    - var meta1 = ''
    - var meta2 = ''
    - var pageClass = ''

block content
    include ../../blocks/main-header/main-header
    include ../../blocks/promo/promo
    include ../../blocks/main-footer/main-footer

    
    
