section.promo
    .promo__wrapper

        .promo__step-container
            .promo__step.promo__step-1
                .promo__step-image.promo__step-1-image
                    img(src="./images/promo__step-1-image.png", alt="")
                .promo__step-text.promo__step-text-1
                    span.bold Купи 
                    | зубную щетку Colgate® Бамбук и&nbsp;зубную пасту Colgate® 0% в&nbsp;Перекрестке

            .promo__step.promo__step-2
                .promo__step-image.promo__step-2-image
                    img(src="./images/promo__step-2-image.png", alt="")
                .promo__step-text.promo__step-text-2
                    span.bold ЗАГРУЗИ 
                    | чек в чат бот, используя QR-код

            .promo__step.promo__step-3
                .promo__step-image.promo__step-3-image
                    img(src="./images/promo__step-3-image.png", alt="")
                .promo__step-text.promo__step-text-3
                    span.bold Получи 
                    | в подарок стильную&nbsp;эко-сумку

            


