@media screen and ($tablet1), ($tablet2), ($tablet3) {

  .promo {
    background-image: url("./images/main-bg-dekor-1.png"),
      url("./images/main-bg-dekor-5.png"), url("./images/main-bg-dekor-6.png"),
      url("./images/main-bg-dekor-7.png"), url("./images/main-bg-dekor-8.png"),
      url("./images/main-bg-tablet.png");
    background-position: calc(50% + 22.95rem) 14rem, calc(50% + 13rem) -4rem,
      calc(50% - 11.0625rem) -.125rem, calc(50% + 20.25rem) 33.5rem,
      -.0625rem calc(100% + .1875rem), center;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
      no-repeat;
    background-size: 18.5rem auto, 14.0625rem auto, 11.8125rem auto,
      7.375rem auto, 10.5625rem auto, cover;
  }

  .promo__wrapper {
    width: 45.3125rem;
  }

  .promo__step-container {
    padding-bottom: 11.9375rem;
  }

  .promo__step {
    margin-top: 2.625rem;
    padding-left: 5.4375rem;
  }

  .promo__step-2 {
    margin-top: 3.0625rem;
  }

  .promo__step-3 {
    margin-top: 3.1875rem;
  }

  .promo__step-1-image {
    top: .2375rem;
    left: .067rem;
    width: 2.67rem;
  }

  .promo__step-2-image {
    top: .3125rem;
    left: -.125rem;
    width: 4.125rem;
  }

  .promo__step-3-image {
    top: .3125rem;
    left: 0;
    width: 2.5rem;
  }

  .promo__step-text {
    width: 36.75rem;
    font-size: 3.6875rem;
    line-height: 3.75rem;
  }

  .promo__step-text-2 {
    width: 24.75rem;
  }

  .promo__step-text-3 {
    width: 22.75rem;
  }
}
