extends ../ds-modal/ds-modal

block variables
    - var uniqueClass = 'modal-success'

block content
    .ds-modal__body
        .ds-modal-close-btn.modal-success-close-button
        .modal-success__message Ваше сообщение отправлено мы свяжемся с Вами в течении 3-х рабочих дней.