footer.main-footer
    .main-footer__decor
    .main-footer__decor-colgate
    .main-footer__wrapper
        .main-footer__description Общий срок проведения акции с 15 мая 2020 года по&nbsp;17 июля 2020 года, включая период совершения покупок с 15 мая 2020 года по 01 июля 2020 года. Организатор акции - ООО "Индекс Групп". Информация об организаторе акции, о&nbsp;правилах ее&nbsp;проведения, сроках, количество призов, месте&nbsp;и&nbsp;порядке их получения размещена на сайте: 
            a(href="https://colgate-zero.ru") https://colgate-zero.ru 
            | Акция действует при наличии товаров в торговом зале.
        .main-footer__title Эко логично