extends ../ds-modal/ds-modal

block variables
    - var uniqueClass = 'modal-faq'

block content
    .ds-modal__body
        .ds-modal-close-btn.modal-faq-close-button
        .ds-modal__headline ВОПРОСЫ - ОТВЕТЫ

        .ds-accordion__container

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Какие сроки приобретения товара?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p Сроки приобретение товара с 00 часов 01 минуты 11 апреля 2020 года по 11 мая  2020 года до 23 часов 59 минут по московскому времени

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Какие сроки регистрации чеков?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p Сроки регистрация чековс 00 часов 01 минуты 11 апреля 2020 года по 11 мая  2020 года до 23 часов 59 минут по московскому времени 

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Почему я могу подать заявку только до 11 мая , хотя в правилах акции указан срок до  27 мая?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p В правилах Акции указан общий срок с учетом времени на отправку подарков всем Участникам Акции;

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Какие необходимо выполнить действия, чтобы подать заявку на Участие?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p Для участия в Акции Вам необходимо подать заявку на сайте:
                            p http://colgate-promo.club
                            p Для подачи заявки вам необходимо заполнить следующие пункты:
                            p • ФИО
                            p • Адрес доставки приза(индекс, город, улица, дом, подъезд, домофон, квартира)
                            p • Мобильный номер телефона
                            p • Указать Адрес электронной почты;
                            p • Загрузить чек целиком с QR-кодом и списком продукции.
                            p • Дать Согласие с Правилами Акции, согласие с условиями Соглашения о политике обработки и хранения персональных данных (обязательное условие);
                            p • Дать Согласие на получение коммуникации (необязательное условие);

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Какие сроки отправки призов?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p • Отправка призов за период регистрации чеков с 11 апреля по 17 апреля 2020 года будет осуществлена 22 апреля 2020 года
                            p • Отправка призов за период регистрации чеков с 18 апреля по 24 апреля 2020 года будет осуществлена 29 апреля 2020 года
                            p • Отправка призов за период регистрации чеков с 25 апреля по 27 апреля 2020 года будет осуществлена 30 апреля 2020 года
                            p • Отправка призов за период регистрации чеков с 28 апреля по 30 апреля 2020 года будет осуществлена 8 мая 2020 года
                            p • Отправка призов за период регистрации чеков с 01 мая  по 11  мая 2020 года будет осуществлена 27 мая 2020 года

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Где можно посмотреть список магазинов Участвующих в акции?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p Полный список магазинов сети «Ашан»  находится по адресу в сети Интернет https://www.auchan.ru/ru/shops 

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Кто является организатором Акции?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p Заказчиком Акции является Акционерное общество «Колгейт-Палмолив»  ОГРН 1037739168444, ИНН 5024012156
                            p Оператором Акции является Общество с ограниченной ответственностью «Изи Диджитал» (ООО «Изи Диджитал»)
                            p Организатором Акции является Общество с ограниченной ответственностью «ИНДЕКС ГРУПП» 

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Сколько раз я могу участвовать в Акции?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p Один Участник может получить не более 3 (трех) Гарантированных призов за весь срок проведения Акции в сети Ашан 

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Кто может принимать участие в акции?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p К участию в Акции допускаются граждане Российской Федерации, достигшие 18-летнего возраста.

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Кто не может принимать Участия в Акции?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p "В Акции запрещается принимать участие
                            p - Сотрудникам Организатора и аффилированных с ним лиц, а также членам семей всех указанных лиц.
                            p - Лицам, не являющимися гражданами Российской федерации
                            p - Лица, недостигшие 18-летнего возраста"

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Какие виды продукции участвуют в акции?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p Для участия в акции необходимо приобрести 2 зубные щетки или промоупаковку Colgate Бамбук в сети Ашан и вы можете получить подарок холщовую сумку с дизайном:
                            p Холщовая эко-сумка  с дизайном Эко Логично
                            p Холщовая эко-сумка  с дизайном eco-GEEK
                            p Холщовая эко-сумка  с дизайном Моя линия жизни 

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Кто может принимать участие в акции?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p К участию в Акции допускаются граждане Российской Федерации, достигшие 18-летнего возраста.

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Как написать в обратную связь?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p Вам необходимо зайти сайт: http://colgate-promo.club. Страничка «Обратная связь» и выберите тему.

            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline Почему я не могу загрузить фото чека или гарантийного талона при подаче заявки?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p При загрузке чека или гарантийного талона должны быть соблюдены следующие правила:
                            p · Формат файла- JPG, PNG, PDF;
                            p · Размер одного файла не более 5 МБ.
                            p Если данные требования соблюдены, но файл все равно не загружается, пожалуйста, напишите письмо через обратную связь акции и выберите тему обращения "Подача заявки"
            
            .ds-accordion
                .ds-accordion__component
                    .ds-accordion__headline По каким причинам могут отклонить заявку на получение кэшбэка?
                        .ds-accordion-arrow
                    .ds-accordion__dropdown
                        .ds-accordion__description
                            p Вашу заявку могут отклонить по следующим причинам:
                            p · невалидный чек (указан продукт не участвующий в Акции);
                            p · невалидный чек (указаны сроки покупки не в период Акции)
                            p · повторный чек (чек ранее внесен другим участником) 





            

        