.form-feedback {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 17.5rem;
}

.input-container {
  margin-top: 1.25rem;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 1.5625rem;
}

.input-container.error {
  border: 1px solid rgba(255, 0, 0, .7);
}

.input-field {
  padding-right: .5rem;
  padding-left: 1.875rem;
  width: 100%;
  height: 3.125rem;
  border: 0;
  background-color: transparent;
  font-family: $main-font-regular;
  font-size: 1.5rem;
}

.textarea-field {
  padding-top: .75rem;
  padding-right: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.875rem;
  width: 100%;
  height: 8.5rem;
  border: 0;
  background-color: transparent;
  font-family: $main-font-regular;
  font-size: 1.5rem;
}

.recaptcha-container {
  margin-top: 1.375rem;
  width: 17.5rem;
  height: 4.375rem;
  overflow: hidden;
}

.recaptcha-container.error {
  border: 1px solid rgba(255, 0, 0, .7);
}

.g-recaptcha {
  transform: scale(.7);
  transform-origin: 0 0;
}

.submit-button {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  width: 100%;
  height: 3.125rem;
  border: 0;
  border-radius: 1.5625rem;
  background-color: $red;
  font-family: $main-font-bold;
  font-size: 1.625rem;
  color: $white;
  cursor: pointer;
}

@import "./bs-select.scss";
